@charset "utf8";
/*CARACTERISTICAS*/
.caracteristicas{
    display: flex;
    flex-direction: column;/*coloca os itens desse conteiner em colunas horizontais*/
    align-items: center;/*alinha os itens do conteiner no centro*/
    padding: 100px 50px;
    background-color: #191c03;
}
.caracteristicas h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}
.caracteristicas p{
    max-width: 800px;
    font-size: 1.2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}
.caracteristicas hr{
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
}
.caracteristicas .grid{
    width: 100%;
    display: flex;/*chamando novamente o flex estabelecemos um flex-direction: row, oque deixará essa grid como row*/
}
.caracteristicas .grid li{
    padding: 0 30px; 
    text-align: center;
}
.caracteristicas .grid li i{
    color: #c3c63b;
    font-size: 3.5rem;
    margin-bottom: 30px;
}
.caracteristicas h4{
    font-size: 1.5rem;
    margin-bottom: 35px;
    color: #c3c63b;
    text-align: center;
}
.caracteristicas .grid li p{
    max-width: 800px;
    font-size: 1.2rem;
    margin-bottom: 35px;
    color: #c3c63b;
    text-align: center;
}
@media (max-width: 850px){
    .caracteristicas .grid{
        flex-direction: column;
    }
}